

/*reseting the default styles*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins',sans-serif;
    background-color: #e3e4f6;
}


/* HEADER  */

.header{
    height: 100vh;
    position: relative;
}

.topbar{
    display: flex;
    justify-content:space-between;
    height: 100px;
    align-items:center;
    padding:0px 30px;
    z-index: 2;
}
.topbar .logo{
    font-size: 40px;
    color:#da6b1d;
    letter-spacing: 0.5px;
    font-family: 'Lobster', cursive;
    font-weight: 900;
    user-select: none;
}
.topbar .navbar a{
    padding:5px 10px;
    color:white;
    text-decoration: none;
    font-size: 20px;
}
.topbar .navbar a:hover{
    color:orange;
    text-decoration: underline;
    text-underline-position: under;
}
.topbar .ham-menu{
    display: none;
}

@media screen and (max-width:600px){
    .topbar{
        background-color: rgb(36, 38, 43);
    }
    .topbar .navbar{
        display:none;
        position:absolute;
        top:100px;
        background-color: rgb(36, 38, 43,0.8);
        height: 500px;
        left:0;
        right:0;
        flex-direction: column;
        justify-content: space-around;
        padding-left:20px;

    }
    .topbar .navbar a::before{
        content: '\f061';
        font-size: 15px;
        font-weight: 900;
        font-family: "Font Awesome 6 Free";
        color:orange;
        padding-right: 10px;
    }
    .topbar .navbar a:hover{
        text-decoration: none;
    }
    .topbar .ham-menu{
        display: block;
    }

    .ham-menu>input[type="checkbox"]{
        -webkit-appearance: none;
        font-size: 18px;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ham-menu>input[type="checkbox"]::before{
        content: '\f0c9';
        font-size: 25px;
        font-family: "Font Awesome 6 Free";
        font-weight: 900;

    }
    .ham-menu>input[type="checkbox"]:checked::before{
        content: '\f00d';
        font-size: 25px;
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

}

.header-container{
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
}
.video{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1; 

}
#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.header-box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
    user-select: none;
}

.heading-primary{
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 3px;

}
#restaurant{
    color: #da6b1d;
    font-weight: 800;
    font-size: 5.6rem;

}
.lead{
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: 4px;
}

.book-now:visited,.book-now:link{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 1.6rem;
    padding: 2rem;
    margin-top: 4rem;
    border: 1px solid white;
    border-radius: 100px;
    transition: all 0.3s ease;
    box-shadow: 0 1rem 1rem rgba(240,107,55,0.1);
    text-shadow: 0 1rem 1rem rgba(0,0,0,.6);
}

.book-now:hover{
    background-color: #da6b1d;
    border: 1px solid white;
    box-shadow: 0 0 2rem rgba(240,107,55,0.8);
}

@media  screen and (max-width:600px) {
    .header-box{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        text-transform: uppercase;
        color: white;
        z-index: -1;
    }
    
    .heading-primary{
        font-size: 3.6rem;
        font-weight: 600;
        letter-spacing: 3px;
    
    }
    #restaurant{
        color: #da6b1d;
        font-weight: 800;
        font-size: 4rem;
    
    }
    .lead{
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 4px;
    }
    
    .book-now:visited,.book-now:link{
        text-decoration: none;
        display: inline-block;
        color: white;
        font-size: 1.6rem;
        padding: 2rem;
        margin-top: 4rem;
        border: 1px solid white;
        border-radius: 100px;
        transition: all 0.3s ease;
        box-shadow: 0 1rem 1rem rgba(240,107,55,0.1);
        text-shadow: 0 1rem 1rem rgba(0,0,0,.6);
    }
}

/* MENU */

.menu{
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
    margin-bottom: 0px;
}
.heading{
    background-color: #cb202d;
    color: #ffffff;
    margin-bottom: 0px;
    padding: 60px 0 60px 0;
    grid-column: 1/-1;
    text-align: center;
}
.heading>h1{
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}
.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
    background-color: #e2e4f6;
}
.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}
.details>p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}


/*REVIEWS*/

.owl-carousel{
    padding: 10px;
}
.img-area{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block; 
    overflow: hidden;
}

.img-area img{
    width: 100%;

}

.content{
    text-align: center; 
    padding: 40px;
    color: #fff;
    border-radius: 25px;
    background-color: #f79824;

}

.content h2{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.content p{
    line-height: 1.7;
    font-size: 12px;
    font-style: italic;
}

.socials{
    margin-top: 30px;

}

.socials i{
    font-size: 20px;
    margin: 0 10px;
}

.owl-dot{
    display: inline-block;
    height: 20px !important;
    width: 20px !important;
    background-color: #ddd !important;
    opacity: 0.8;
    margin:10px;
    border-radius: 50%;
}
.owl-dot.active{
    background-color: #fff !important;
}

.owl-dots{
    text-align: center;
}



/* FOOTER */

.container{
    max-width: 1170px; 
    margin: auto;
}

ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    flex: 1 1 33%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight:500;
    margin-bottom: 35px;
    position: relative;
}
.footer-col h4::after{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col p a{
    font-size: 16px;
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col p a:hover{
    color: #fff;
    font-weight: 400;
}

.footer-col ul li{
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #fff;
    font-weight: 400;
}

.footer-col .social-links a{
    display: inline-block;
    height:40px;
    width:40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: large;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
}

/*responsive footer*/
@media(max-width:768px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width:576px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
}


.menu, .owl-carousel{
    background-color: #e3e4f6;
}